/* - Utils - */
/* - Base - */
* {
  transition: 0.2s;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(144, 28, 28, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(144, 28, 28, 0.8);
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0 100px;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.1;
}

h1 {
  font-size: 64px;
  color: #901c1c;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes expandModal {
  from {
    height: 0;
  }
  to {
    height: calc(100% - 100px);
  }
}
@keyframes expandMedia {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* - Components - */
button {
  cursor: pointer;
  border: none;
}

.button {
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 23px 20px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
}

.contact_button {
  font-size: 20px;
  padding: 23px 15px;
}
.contact_button:hover, .contact_button:focus {
  background-color: #db8876;
  color: black;
}

.form_button {
  padding: 20px 50px;
}
.form_button:hover, .form_button:focus {
  opacity: 0.8;
}

.close_button {
  padding: 12px;
  background-color: transparent;
  display: flex;
  gap: 2px;
}
.close_button .cross-arrow-left {
  transform: rotate(135deg);
}
.close_button .cross-arrow-right {
  transform: rotate(-45deg);
}
.close_button:hover, .close_button:focus {
  transform: scale(0.9);
}

.arrow {
  width: 25px;
  height: 25px;
  border-style: solid none none solid;
  border-width: 8px;
  border-color: #901c1c;
}

.arrow-left {
  transform: rotate(-45deg);
}
.arrow-left:hover {
  transform: rotate(-45deg) scale(0.9);
}

.arrow-right {
  transform: rotate(135deg);
}
.arrow-right:hover {
  transform: rotate(135deg) scale(0.9);
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-card .link,
.user-card .info-container {
  text-align: center;
}
.user-card .link img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}
.user-card .link h2 {
  margin: 10px 0 0 0;
  color: #d3573c;
  white-space: nowrap;
}
.user-card .link:hover img, .user-card .link:focus img {
  transform: translateY(5px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.user-card .location, .user-card .slogan, .user-card .price {
  margin: 3px 0;
}
.user-card .location {
  font-size: 13px;
  color: #901c1c;
}
.user-card .slogan, .user-card .price {
  font-size: 10px;
}
.user-card .price {
  color: #757575;
}

.select-order {
  z-index: 4;
  position: relative;
  margin: 30px 0;
  display: flex;
  align-items: flex-start;
}
.select-order #label-select {
  font-weight: bold;
  font-size: 18px;
}
.select-order .select_button {
  cursor: pointer;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: -20px;
  left: 100px;
  display: flex;
  gap: 25px;
  text-align: start;
}
.select-order .select_button .listbox {
  display: flex;
  flex-direction: column;
}
.select-order .select_button .listbox hr {
  position: relative;
  left: -10px;
  margin: 0;
  width: 160%;
  background-color: white;
}
.select-order .select_button .listbox .sep-first {
  order: 2;
}
.select-order .select_button .listbox .sep-second {
  order: 4;
}
.select-order .select_button .listbox #popularity {
  order: 1;
}
.select-order .select_button .listbox #date {
  order: 3;
}
.select-order .select_button .listbox #title {
  order: 5;
}
.select-order .select_button::after {
  content: "";
  transition: 0.2s;
  position: relative;
  top: 7px;
  width: 7px;
  height: 7px;
  border: solid;
  border-width: 3px 3px 0 0;
  border-color: white;
  transform-origin: 7px 3.5px;
  transform: rotate(135deg);
}
.select-order .select_button:hover, .select-order .select_button:focus {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.select-order .select_button[aria-expanded=false] .listbox div, .select-order .select_button[aria-expanded=false] .listbox hr {
  display: none;
}
.select-order .select_button[aria-expanded=false] .listbox div[aria-selected=true] {
  display: block;
}
.select-order .select_button[aria-expanded=true] {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.select-order .select_button[aria-expanded=true] .listbox {
  gap: 12px;
}
.select-order .select_button[aria-expanded=true] .listbox div, .select-order .select_button[aria-expanded=true] .listbox hr {
  display: block;
}
.select-order .select_button[aria-expanded=true] .listbox div:hover, .select-order .select_button[aria-expanded=true] .listbox div:focus, .select-order .select_button[aria-expanded=true] .listbox hr:hover, .select-order .select_button[aria-expanded=true] .listbox hr:focus {
  opacity: 0.8;
}
.select-order .select_button[aria-expanded=true]::after {
  transform: rotate(-45deg);
}

.photograph-header {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.photograph-header article {
  max-width: 450px;
}
.photograph-header article h1 {
  margin: 0;
  color: #d3573c;
}
.photograph-header article .location {
  margin: 7px 0;
}
.photograph-header article .slogan {
  color: #525252;
}
.photograph-header img {
  flex-shrink: 0;
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.gallery-card {
  width: 350px;
}
.gallery-card img,
.gallery-card video {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 5px;
}
.gallery-card img:hover, .gallery-card img:focus,
.gallery-card video:hover,
.gallery-card video:focus {
  filter: brightness(0.8);
}
.gallery-card .info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: #901c1c;
}
.gallery-card .info-container .media-title,
.gallery-card .info-container .like-number {
  margin: 10px 0;
}
.gallery-card .info-container .like-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.gallery-card .info-container .like-container h3 {
  font-weight: 500;
}

.heart {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: transparent;
  font-size: 24px;
  color: #901c1c;
}
.heart i {
  position: absolute;
  top: 0;
  left: 0;
}
.heart .fa-solid {
  transform: scale(0);
  opacity: 0;
}
.heart[fav=true] .fa-solid {
  transform: scale(1);
  opacity: 1;
}
.heart:hover {
  opacity: 0.8;
}

.like-price {
  position: fixed;
  bottom: 0;
  right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 65px;
  background: #db8876;
  border-radius: 5px 5px 0 0;
  padding: 20px 30px;
  color: black;
}
.like-price div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.like-price h3 {
  font-weight: 500;
  margin: 0;
}

/* - Layouts - */
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
#banner .logo {
  height: 50px;
}
#banner h1 {
  font-size: 36px;
}

.modal {
  animation: 0.4s appear;
  z-index: 5;
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 -100px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}
.modal dialog {
  overflow-y: scroll;
  box-sizing: border-box;
  border: none;
}

#contact_modal .dialog-contact {
  animation: 0.4s expandModal forwards;
  border-radius: 5px;
  background-color: #db8876;
  box-shadow: -3px 5px 15px rgba(0, 0, 0, 0.4);
  height: calc(100% - 100px);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  padding: 35px;
}
#contact_modal .dialog-contact header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  padding: 0;
}
#contact_modal .dialog-contact header #contact-title {
  margin: 0;
  line-height: 1.1;
  color: black;
  font-size: 64px;
  font-weight: normal;
}
#contact_modal .dialog-contact header button .arrow {
  border-color: white;
}
#contact_modal .dialog-contact form {
  animation: 0.4s appear 0.4s forwards;
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#contact_modal .dialog-contact form .input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 15px;
}
#contact_modal .dialog-contact form .input-container label {
  color: #312e2e;
  font-size: 36px;
}
#contact_modal .dialog-contact form .input-container input,
#contact_modal .dialog-contact form .input-container textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 20px;
  font-size: 36px;
  border: none;
  border-radius: 5px;
}
#contact_modal .dialog-contact form .input-container textarea {
  resize: none;
}
#contact_modal .dialog-contact form .form_button {
  margin-top: 15px;
}
#contact_modal .dialog-contact .thanks-message {
  margin: auto 20%;
  text-align: center;
  color: #312e2e;
  font-size: 36px;
}

#media_modal .dialog-media {
  overflow: visible;
  margin: auto;
  background: transparent;
  display: flex;
  padding: 0;
}
#media_modal .nav-media-container {
  overflow: visible;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
#media_modal .nav-media-container article {
  animation: 0.4s ease-out expandMedia;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  max-height: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
#media_modal .nav-media-container article img, #media_modal .nav-media-container article video {
  animation: 0.4s ease-out appear;
  object-fit: contain;
  max-height: calc(80vh - 60px);
}
#media_modal .nav-media-container article h3 {
  color: #901c1c;
  margin: 15px;
}
#media_modal button {
  position: absolute;
  top: 20px;
  right: -30px;
  color: #901c1c;
}

/* - Pages - */
.photographer_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 150px;
  margin: 100px -50px;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  margin: 50px 0;
}

/*# sourceMappingURL=styles.css.map */
