.photographer_section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a,
  div {
    text-align: center;
  }

  a {
    text-decoration: none;

    img {
      object-fit: cover;
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }

    h2 {
      margin: 10px 0 0 0;
      color: $color-primary--light;
      font-size: 36px;
      white-space: nowrap;
    }
  }

  h2,
  h3 {
    font-weight: normal;
  }

  h3,
  p {
    margin: 3px 0;
  }

  .price {
    color: $color-secondary--light;
  }
}
