.gallery-card {
  width: 350px;
  transition: order 0s;

  img,
  video {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: $radius;

    &:hover, &:focus {
      filter: brightness(0.8);
    }
  }


  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: $color-primary;

    .media-title,
    .like-number {
      margin: 10px 0;
    }

    .like-container {
      display: flex;
      align-items: center;
      gap: 5px;

      h3 {
        font-weight: 500;
      }
    }
  }
}
