.like-price {
  position: fixed;
  bottom: 0;
  right: 25px;
  min-width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-primary--light;
  border-radius: $radius $radius 0 0;
  padding: 10px 25px;
  color: black;
  
  div {
    display: flex;
    align-items: center;
  }

  h3 {
    font-weight: bold;
    margin: 20px 5px;
  }
}
