$color-primary: #901c1c;
$color-primary--light: #db8876;
$color-secondary: #d3573c;
$color-text--light: #525252;
$color-text--extra-light: #757575;
$color-bg--light: #fafafa;
$color-shadow: rgba(0, 0, 0, 0.4);

$radius: 5px;

$animation-duration: 0.4s;